body{
    background-color: rgb(248, 248, 248);
}
header{
    text-align: center;
}
#content{
    border: solid 2px;
    display: flex;
    height: 600px;
    width: 600px;
    flex-wrap: wrap;
    align-content: stretch;
    background-color: black;
    margin:40px auto;
    
}
.number{
    margin: 2px;
    background-color: rgb(235, 235, 235);
    height: 18%;
    width: 13.5%;
}
footer{
   text-align: center
    
}
.day-name {
    width: 13.5%; 
    margin: 2px;
    background-color: #ddd; 
    font-weight: bold;
    text-align: center;
}